<blockquote class="quote">
    <p class="quotes__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus laborum ratione similique eum numquam non sit officiis iste quas et.
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                    <svg class="icon icon--primary quote__line">
                        <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
            </div>
            <div class="media__body">
                <h3 class="media__tittle quote__author">Nkem-Nwaebee Davis Chiedozie</h3>
                <p class="quote__organization">CEO Distinct Media</p>
            </div>
        </div>
    </footer>
</blockquote>