<section class="block">
    <header class="block__header">
        <h2>What Our Customers Are Saying</h2>
        <p>This is a review of our customers satisfaction</p>
    </header>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid--1x2">
                <div class="testimonial__image">
                    <img src="images/testimonial.jpg" alt="A happy, smiling man">
                    <span class="icon-container icon-container--accent">
                        <svg class="icon icon--white icon--small">
                            <use xlink:href="images/sprite.svg#quotes"></use>
                        </svg>
                    </span>
                </div>
                <blockquote class="quote">
                    <p class="quotes__text quote__author">
                        At distinct media, they do a lot of great positive stuffs that enhances and grows the value of a business in every way and in the long run make your business thrive in whatever you are doing
                    </p>
                    <footer>
                        <div class="media">
                            <div class="media__image">
                                    <svg class="icon icon--primary quote__line">
                                        <use xlink:href="images/sprite.svg#line"></use>
                                    </svg>
                            </div>
                            <div class="media__body">
                                <h3 class="media__tittle quote__author">Nkem Davis</h3>
                                <p class="quote__organization">CEO Distinct Media</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>